<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/CommonView/header :: head('Usuario')">

</head>
<body>
<div th:insert="/CommonView/navbar :: navbar">
</div>
<div>
  <main>
    <div class="container content is-fluid mt-5 mb-5">
      <section>
        <h1 class="title">Lista de Usuários</h1>
        <div class="buttons">
          <a href="usuarios/new" class="button is-normal is-link">Adicionar Usuário</a>
        </div>
        <div class="table-container">
          <table class="table is-bordered is-hoverable">
            <thead>
            <tr class="has-text-centered is-size-4">
              <th>Id</th>
              <th>Nome</th>
              <th>Login</th>
              <th>E-mail</th>
              <th>Tipo</th>
              <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u : ${usuarios}">
              <td th:text="${u.id}"></td>
              <td th:text="${u.nome}"></td>
              <td th:text="${u.login}"></td>
              <td th:text="${u.email}"></td>
              <td th:text="${u.tipoUsuario.tipo}"></td>
              <td>
                <a th:href="@{/usuarios/{usuarioId}/edit(usuarioId = ${u.id})}" class="button is-info is-light mr-3">Edit</a>
                <a th:href="@{/usuarios/{usuarioId}/edit(usuarioId = ${u.id})}" class="button is-danger is-light">Delete</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </main>
</div>
<footer th:insert="/CommonView/footer :: footer"></footer>
</body>
</html>