<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/CommonView/header :: head('')">

</head>
<body>
<div th:insert="/CommonView/navbar :: navbar"></div>
<div>
  <main>
    <div class="container content is-fluid mt-5 mb-5">
      <section>
        <h1 class="title">Criar/Editar novo Item Pedido</h1>

        <div class="container">
          <form th:action="@{/itenspedido}" method="post" th:object="${itemPedido}">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{pedido.id}">

            <div class="field">
              <label class="label">Produto</label>
              <div class="control">
                <div class="select">
                  <select th:field="*{produto}" required>
                    <option value="">.. Selecione ..</option>
                    <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.descricao  + ' | ' + p.marca}"></option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Quantidade</label>
              <div class="control">
                <input th:field="*{quantidade}" class="input" type="text" required>
              </div>
            </div>

            <!-- <div class="field">
              <label class="label">Total</label>
              <div class="control">
                <input th:field="*{total}" class="input" type="number" placeholder="Total" required>
              </div>
            </div> -->

            <div class="field is-grouped is-grouped-right">
              <p class="control">
                <button type="submit" class="button is-primary">Salvar</button>
              </p>
              <p class="control">
                <button type="reset" class="button is-light">Limpar</button>
              </p>
            </div>
          </form>
        </div>
        <a th:href="@{/itenspedido/{idPedido}(idPedido = ${itemPedido.pedido.id})}">Voltar</a>
      </section>
    </div>
  </main>
</div>
<footer th:insert="/CommonView/footer :: footer"></footer>
</body>
</html>
