<%--
  Created by IntelliJ IDEA.
  User: Gabriel Conte
  Date: 16/06/2023
  Time: 00:15
  To change this template use File | Settings | File Templates.
--%>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/CommonView/header :: head('')">

</head>
<body>
<div th:insert="/CommonView/navbar :: navbar"></div>

<footer th:insert="/CommonView/footer :: footer"></footer>
</body>
</html>
