<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/CommonView/header :: head('Pedidos')">

</head>
<body>
<div th:insert="/CommonView/navbar :: navbar">
</div>
<div>
    <main>
        <div class="container content is-fluid mt-5 mb-5">
            <section>
                <h1 class="title">Lista de Pedidos</h1>
                <div class="buttons">
                    <a href="pedidos/new" class="button is-normal is-link">Adicionar Pedido</a>
                </div>
                <div class="table-container">
                    <table class="table is-bordered is-hoverable">
                        <thead>
                        <tr class="has-text-centered is-size-4">
                            <th>Cliente</th>
                            <th>Data Venda</th>
                            <th>Total</th>
                            <th>Funcionário</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="p : ${pedidos}">
                            <td th:text="${p.entidade.nome}"></td>
                            <td th:text="${p.dataVenda}"></td>
                            <td th:text="'R$: ' + ${p.total}"></td>
                            <td th:text="${p.usuario.nome}"></td>
                            <td>
                                <a th:href="@{/itenspedido/{idPedido}(idPedido=${p.id})}" class="button is-info is-light mr-3">Itens Pedido</a>
                                <a th:href="@{/pedidos/{id}/edit(id=${p.id})}" class="button is-info is-light mr-3">Editar</a>
                                <a th:href="@{/pedidos/{id}/delete(id=${p.id})}" class="button is-danger is-light">Excluir</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </main>
</div>
<footer th:insert="/CommonView/footer :: footer"></footer>
</body>
</html>
