<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="pt">
<head th:insert="CommonView/header :: head('Principal')">

</head>
<body>
<div th:insert="CommonView/navbar :: navbar">
</div>
<div>
    <main>
        <div class="container content is-fluid mt-5 mb-5">
            <section class="hero is-large">
                <div class="hero-body">

                </div>
            </section>
        </div>
    </main>
</div>
<footer th:insert="CommonView/footer :: footer"></footer>
</body>
</html>