<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/CommonView/header :: head('Tipo Usuario')"></head>

<body>
<div th:insert="/CommonView/navbar :: navbar"></div>
<div>
    <main>
        <div class="container content is-fluid mt-5 mb-5">
            <section>
                <h1 class="title">Criar/Editar novo Tipo de usuário</h1>

                <div class="container">
                    <form th:object="${tipoUsuario}" th:action="@{/tiposusuario}" method="post">
                        <input type="hidden" th:field="*{id}" >

                        <div class="field">
                            <label class="label">Tipo</label>
                            <div class="control">
                                <input th:field="*{tipo}" class="input" type="text" placeholder="Tipo"  required>
                            </div>
                        </div>

                        <div class="field is-grouped is-grouped-right">
                            <p class="control">
                                <button type="submit" class="button is-primary">Salvar</button>
                            </p>
                            <p class="control">
                                <button type="reset" class="button is-light">Limpar</button>
                            </p>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </main>
</div>
<footer th:insert="/CommonView/footer :: footer"></footer>
</body>
</html>
